
header{
    display: flex;
    height: 100vh;
    background: url(../Components/Imagenes/Fondos/Fondo6.jpg);
    background-position: center;
    background-size: cover;
    align-items: flex-end;
    justify-content: center;
    box-shadow: 0px 1px 20px black;
}

.header-content{
    margin-bottom: 100px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
    text-shadow: 0px 0px 5px black;
}

.line {
    width: 150px;
    height: 4px;
    background: rgb(202, 202, 202);
    margin: 30px auto;
    border-radius: 5px;
    
}

.line2 {
    width: 200px;
    height: 4px;
    background: rgb(66, 66, 66);
    margin: 30px auto;
    border-radius: 5px;
    
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow: 0px 0px 5px black;
}

.header-content .ctn {
    padding: 8px 15px;
    background-color: rgb(241, 241, 241);
    border-radius: 30px;
    font-weight: 400;
    color: black;
    text-decoration: none;
}

.header-content .ctn:hover{
    color: rgb(197, 241, 255);
    background-color: rgb(104, 104, 104);
    text-shadow: 0px 0px 2px rgb(118, 246, 255)
}

.arrow{
    position: relative;
    animation: animate 0.7s linear infinite;
}

@keyframes animate {
    0% {
      top: 55px;
    }

    50% {
        top: 70px;
    }

    100%{
        top: 55px;
    }
  }

.menu2 {
    width: 80%;
    margin: 80px auto;
}

.title {
    text-align: center;
    font-size: 4vmin;
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.342);
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.col{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    
}

.col img{
    width: 512px;
    height: 264px;
    box-shadow: 0px 0px 3px rgb(139, 148, 199);
    border: 4px solid  rgb(126, 147, 206);
}

.col h2{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 3vmin;
    font-weight: 400;
}

.col p{
    text-align: center;
    width: 360px;
}


@media only screen and (max-width:1250px){
    
    .row{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
    }

    .col img{
        width: 384px;
        height: 190px;
        box-shadow: 0px 0px 3px rgb(139, 148, 199);
        border: 2px solid  rgb(167, 167, 219);
    }
    
}